<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link href="/static/css/base.css" rel="stylesheet" type="text/css" />


</head>

<img class="img-responsive" src="images/CoverLeftSide.jpg" title="Left side of the Coverpage with link to the gallery"
    alt="Left side of the Coverpage with link to the gallery" height="auto" width="auto">
<img class="img-responsive" src="images/CoverRightSide.jpg" title="Right side of the Coverpage with link to the blog"
    alt="Right side of the Coverpage with link to the blog" height="auto" width="auto">